html { font-size: 90.5%; }

body { 
  font-size: 1.4rem;
  overflow-x: hidden;
}

h1 { font-size: 2.4rem; }

.navbar .navlink {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../img/mapOverview.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #a0bbd8;
}

#page-header {
  height: 200px;
  background: url('../img/image1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}
